 body
{
	margin: 0;
	display : flex;
	flex-direction : row-reverse;
	justify-content : center;
	min-height : 100vh
}
.photo
{
	background-color: #FFC107;
	padding :2rem;
	display : flex;
	justify-content : center;
	align-items :center;
}
h1 {
	font-size: 35px;
	margin: 0;
}
.samuel
{
	color :#FFC107;
}
h2
{
	font-size : 17px;
	margin-left : 25px;
}
h3
{	
	font-size : 20px;
	margin: 0;		
}
h4{
	margin: 0;
}
.souligner
{
	border-bottom : #FFC107 2px solid;
	font-style : normal;
}
p
{
	font-size : 18px;

}
.gras
{
	font-weight : bold;
	font-style : normal;
	
}
.premierePartie {
	padding: 20px;
	max-width: 600px;
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.conteneurHead {
	height: 190px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.conteneurArticle
{
	display : flex;
	flex-direction : column;
}
.conteneurTitreArticle
{
	border-bottom : #FFC107 2px solid;
	display : flex;
	flex-direction : row;
	justify-content : flex-start;
}
.picto
{
	
	height: 32px;
	margin-top : 7px;
}

.elementLigne
{
	display : flex;
	margin : 40px;
	position: relative;
}
.elementLigneFirst
{
	display : flex;
	margin : 40px;
	position: relative;
}

.left
{
	flex:1;
	margin :0;
}
.elementLigneFirst::before{
  content: "\25C9"; 
  color: #FFC107;
  position: absolute;
  font-size: 20px;
  align-self: flex-start;
  margin: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 0;
  left: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.elementLigne::before{
	content: "."; 
	color: #FFC107;
	position: absolute;
	font-size: 60px;
	align-self: flex-start;
	margin: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 0;
	left: -50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
  }


.center {
	flex: 1;
    margin: 0;
    min-width: 120px;
}
.alignement
{
	display: flex;
	margin: 35px;
}



.deuxiemePartie {
	max-width: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #FFC107;
	
}

.conteneurTitreArticleLeft
{
	display :flex;
	justify-content : center;
	align-items : center;
	background-color : black;
	color : #FFC107;
	height: 40px;
}
.elementLeft
{
	display : flex;
	padding : 27px;
}
.loisir
{
	margin-top : 200px;
}
.conteneurIconeLeft
{
	height : 163px;
	display : flex;
	justify-content: space-around;
	align-items :center; 
}				
div.conteneurIconeLeft>i
{
	
	font-size: 52px;
    border: black 2px solid;
    border-radius: 50%;
    padding: 0.3rem;
}
div.conteneurTitreArticle>i
{
	font-size: 40px;
	color: #FFC107;
	
}
ul
{
	list-style-type : none;
}
.conteneurElementArticle
{
	list-style-type : disc;
}

.flexOne {
	flex:1;
}
.elementLigneSansPuces{
	margin: 10px;
}
p.center span{
	font-size:15px;
}
